<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SniffPro Home</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
    <div id="wrap">
        <div id="top">
            <!-- 상단 로고 -->
            <div id="tlt"><a href="/" id="sniffPro">SniffPro</a></div>
            <!-- 이미지 로고 -->
            <div id="img_tlt">img</div>
        </div>
        <div id="menus">
        <!-- menus -->
            <a href="petList" id="petM" class="menuM">입양/분양</a>
            <a href="" id="supplM" class="menuM">애완용품</a>
            <a href="" id="reviewM" class="menuM">후기</a>
            <a href="" id="volunM" class="menuM">자원봉사</a>
            <a href="" id="callM" class="menuM">유기견신고</a>
        </div>
        <!--  -->

    </div>
</body>
</html>