<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
    <meta charset="UTF-8">
    <title>입양/분양</title>
    <link rel="stylesheet" type="text/css" href="/css/petList.css">
</head>
<body>
    <div id="wrap">
        <div id="tlt"><a href="/" id="sniffPro">SniffPro</a></div>
        <!-- home으로 돌아가기 -->
        <div class="btn" id="registerPet"><a href="regisPet">입양/분양 등록</a></div>
        <!-- 등록된 유기견 list -->
        <div id="pets">
            <div th:each="Item : ${petList}">
                <div id="imgs"><a href="">img1</a></div>
                <div id="title"><a href="">title1</a></div>
            </div>
        </div>
    </div>

</body>
</html>